#idx id; idx class;

tf_idf_efanna_idx;tf_idf_efanna_idx<float,3,false,false,32,8,8,200,200,100,10,8>


#template<class data_type_t, uint64_t ngram_length_t, bool use_tdfs_t, bool use_iidf_t, uint64_t total_number_of_trees, uint64_t conquer_to_depth, uint64_t iteration_number,
# uint64_t l, uint64_t check, uint64_t k, uint64_t s, uint64_t number_of_trees_for_building_graph>